#blocpage {
  padding: 0 30px;
}
@media screen and (max-width: 780px) {
  #blocpage {
    padding: 0;
  }
}
body {
  font-family: "Raleway";
} 
a {
  color: inherit;
  text-decoration: none;
}

/* */
/* HEADER */
/* */

.header {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-template-areas: "logo.navbar button";
  align-items: center;
}
.logo {
  grid-area: logo;
  height: 3.2rem;
}
nav {
  display: flex;
  grid-area: navbar;
}
.menu {
  padding: 2rem;
  font-weight: 500;
  border-top: transparent solid;
  border-bottom: transparent solid;
}
.menu:hover {
  color: #0065FC;
  border-top: solid #0065FC;
}
.login {
  display: flex;
  grid-area: button;
  margin: 2rem;
  color: #0065FC;
  font-weight: 700;
}

@media screen and (min-width: 901px) {
  .menu[data-active=true] {
    color: #0065FC;
    border-top: solid #0065FC;
  }
}

@media screen and (max-width: 900px) {
  .header {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo . button" "navbar navbar navbar";
  }
  .logo {
    padding: 10px 0 0 23px;
  }
  .login {
    padding: 15px 2rem 0 0;
  }
  nav {
    text-align: center;
  }
  .menu {
    border-top: none;
    border-bottom: 3px solid #f2f2f2;
    width: 50%;
  }
  .menu[data-active=true] {
    color: #0065FC;
    border-bottom-color: #0065FC;    
  }
  .menu:hover {
    border-top: none;
    border-bottom-color: #0065FC;
  }
}

/* */
/* FIN HEADER */
/* */


/* */
/* SEARCH */
/* */

.search h1 {
  margin-bottom: 7px;
  margin-top: 7px;
}
.search p:first-of-type {
  margin-top: 7px;
  font-weight: 500;
}
.search {
  margin-bottom: 30px;
}
.searchbar {
  display: inline-flex;
}
.search_loca {
  background-color: #F2F2F2;
  border:  #F2F2F2 1px solid;
  padding: 0.8rem 1rem;
  border-radius: 1rem 0 0 1rem;
}
.search_loca_i {
  font-size: 18px;
}
.search_input {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 18px;
  border-right: none;
  border-left: none;
  border-top: #F2F2F2 1px solid;
  border-bottom: #F2F2F2 1px solid;
  padding: 0 1rem;
  box-sizing: border-box;
  width: 275px;
}
.search_search {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 16px;
  background-color: #0065FC;
  color: white;
  border: none;
  border-radius: 0 1rem 1rem 0;
  padding: 0 1.2rem;
  cursor: pointer;
}
.searchfilters {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.searchfilters_h2 {
  display: flex;
  align-items: center;
  margin: 0 30px 15px 0;
}
.searchfilters_button {
  display: flex;
  align-items: center;
  border: 2px solid #d9d9d9;
  border-radius: 2rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;  
  cursor: pointer;
}
.searchfilters_button:hover {
  transition-duration: 1s;
  background-color: #0065FC;
}
.searchfilters_i {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DEEBFF;
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  min-height: 3.5rem;
  min-width: 3.5rem;
  margin: -3px;
  color: #0065FC;
  font-size: 18px;
}
.searchfilters_span {
  margin: 0 15px;
}
.search_result {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.search_p_i {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #d9d9d9;
  width: 2rem;
  height: 2rem;
  max-width: 2rem;
  min-width: 2rem;
  border-radius: 100%;
  margin-right: 1rem;
  color: #0065FC;
}

@media screen and (max-width: 900px) {
  .searchbar {
    display: flex;
    width: 95%;
    height: 50px;
  }
  .search_loca {
    padding: 0.8rem 1.3rem 0.8rem 1.1rem;
  }
  .search_input {
    flex: 1;
    width: auto;
  }
  .search_search {
    border-radius: 1rem;
  }
  .search_span {
    display: none;
  }
  .search_i {
    display: block;
  }
}

@media screen and (max-width: 960px) {
  .search {
    margin: 30px 32px;
  }
  .searchfilters_h2 {
    width: 100%;
  }
  .searchfilters_button {
    margin-right: 1rem;
  }
}

@media screen and (min-width: 901px) {
  .search_span {
    display: block;
  }
  .search_i {
    display: none !important;
  }
}

@media screen and (max-width: 480px) {
  .search {
    margin: 18px 15px;
  }
}

/* */
/* SEARCH FIN */
/* */

.section_1 {
  display: grid;
  column-gap: 3%;
  grid-template-columns: 65% 32%;
}

/* */
/* HOST */
/* */

.host {
  background-color: #f2f2f2;
  border-radius: 1.2rem;
  padding: 0 10px 20px 10px;
}
.host_title {
  margin: 0;
  padding: 35px 0 9px 35px;
}
.host_container_figure {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.host_a {
  width: 30%;
  margin: 20px 1.5%;
}
.host_figure {
  background-color: white;
  border-radius: 1.2rem;
  box-shadow: 0 0 15px gray;
  box-sizing: border-box;
  width: 29%;
  padding: 0.3rem;
  height: 235px ;
  width: 100%;
  margin: 0;
}
.host_img {
  width: 100%;
  height: 60%;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
}
.host_figcaption {
  padding: 7px 10px 10px 10px;
}
.host_h3 {
  margin: 0
}
.host_p {
  margin: 7px 0 6px 0;
}
.host_i {
  font-size: 15px;
}
.host_i[data-active=true] {
  color: #0065FC;
}
.host_i[data-active=false] {
  color: #d9d9d9;
}
.host_a_bottom {
  padding: 20px 0 20px 35px;
  font-weight: 700;
  font-size: 20px;
}

@media screen and (max-width: 960px) {
  .host_container_figure {
    justify-content: space-between;
  }
  .host {
    background-color: white;
  }
  .host_figure {
    height: 220px;
  }
  .host_title {
    padding: 5px 0 9px 20px;
  }
  .host_a {
    width: 45%;
    margin: 15px 1.5%;
  }
}

@media screen and (max-width: 600px) {
  .host_container_figure {
    flex-direction: column;
  }
  .host_figure {
    height: 190px;
  }
  .host_figcaption {
    padding: 0px 10px;
  }
  .host_p {
    margin: 5px 0 5px 0;
  }
  .host_title {
    padding: 0px 0 15px 0;
  }
  .host_a {
    width: 95%;
    margin: 10px 1.5%;
  }
  .host_a_bottom {
    padding: 20px 0 20px 2px;
  }
}

/* */
/* HOST FIN */
/* */


/* */
/* POPULAIRE */
/* */

.populaire {
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  border-radius: 1rem;
  padding: 35px;
}
.populaire_title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.populaire_a {
  margin-bottom: 15px;
}
.populaire_figure {
  display: flex;
  background-color: white;
  padding: 0.3rem;
  border-radius: 1.2rem;
  box-shadow: 0 0 15px gray;
  box-sizing: border-box;
  height: 160px;
  margin: 0;
}
.populaire_figure_bottom {
  display: flex;
  background-color: white;
  padding: 0.3rem;
  border-radius: 1.2rem;
  box-shadow: 0 0 15px gray;
  box-sizing: border-box;
  height: 160px;
  margin: 0;
}
.populaire_img {
  width: 40%;
  height: 100%;
  border-radius: 1rem 0 0 1rem;
  object-fit: cover;
}
.populaire_figcaption {
  margin-left: 25px;
}
.populaire_h3 {
  margin-bottom: 10px;
  margin-top: 10px;
}
.populaire_p {
  margin-top: 5px;
  padding: 0 0 25px 0;
}
.populaire_i {
  font-size: 15px;
}
.populaire_i[data-active=true] {
  color: #0065FC;
}
.populaire_i[data-active=false] {
  color: #d9d9d9;
}

@media screen and (max-width: 1410px) {
  .section_1 {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .populaire {
    flex-direction: row;
    flex-wrap: wrap;
    grid-row-start: 1;
    border-radius: 0;
    padding: 0;
  }
  .populaire_title {
    padding: 35px 20px 0 25px;
  }
  .populaire_a {
    width: 30%;
    margin: 16px 15px 40px 15px;
  }
  .populaire_figcaption {
    margin-left: 10px;
  }
  .populaire_p {
    padding: 0;
  }
}

@media screen and (max-width: 992px) {
  .populaire {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .populaire_title {
    width: 100%;
    padding: 0;
  }
  .populaire_a {
    width: 100%;
    margin: 10px 0;
  }
  .populaire_a_bottom {
    margin-bottom: 20px;
  }
  .populaire_figure {
    width: 100%;
  }
  .populaire_figure_top {
    margin-left: 0;
  }
  .populaire_figure_bottom {
    width: 100%;
  }
  .populaire_p {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 371px) {
  .populaire_p {
    padding-bottom: 10px;
  }
}

/* */
/* POPULAIRE FIN */
/* */


/* */
/* ACTIVITE */
/* */

.activite {
  margin: 60px 10px;
}
.activite_container_figure {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 210px 50px 50px 185px;
  column-gap: 3%;
}
.activite_figure {
  box-shadow: 0 0 15px gray;
  border-radius: 1rem;
  overflow: hidden;
  margin: 0;
  height: 100%;
}
.activite_h3 {
  margin: 0;
  padding: 14px 0 0 14px;
}
.activite_figure_1 {
  grid-column: 1;
  grid-row: 1/5;
}
.activite_figure_2 {
  grid-column: 2;
  grid-row: 1/3;
}
.activite_figure_3 {
  grid-column: 2;
  grid-row: 4/5;
}
.activite_figure_4{
  grid-column: 3;
  grid-row: 1/5;
}
.activite_figure_5{
  grid-column: 4;
  grid-row: 1/2;
}
.activite_figure_6 {
  grid-column: 4;
  grid-row: 3/5;
}
.activite_img {
  height: calc(100% - 55px);
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1350px) {
  .activite_container_figure {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .activite a {
    width: 31%;
    margin: 15px 0;
  }
  .activite_figure {
    height: 250px;
  }
}

@media screen and (max-width: 1000px) {
  .activite a {
    width: 45%;
  }
}

@media screen and (max-width: 780px) {
  .activite h2 {
    padding-left: 15px;
  }
}

@media screen and (max-width: 650px) {
  .activite {
    margin: 35px 0 60px 0;
  }
  .activite a {
    width: 92%;
  }
  .activite_figure {
    height: 190px;
  }
  .activite_img {
    height: calc(100% - 60px);
  }
}

@media screen and (max-width: 550px) {
  .activite {
    margin: 35px 0 40px 0;
  }
}

/* */
/* ACTIVITE FIN */
/* */


/* */
/* FOOTER */
/* */

footer {
  background-color: #f2f2f2;
  padding: 0.5rem 0rem 1rem 0rem;
}
.footer_container_ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.footer_ul {
  list-style-type: none;
  width: 28%;
}
.footer_ul_bottom {
  list-style-type: none;
  width: 28%;
}
footer li {
  display: flex;
}
footer h3 {
  margin-bottom: 15px;
}
footer ul {
  padding-left: 0;
}
.footer_a { 
  margin: 5px 0;
}

@media screen and (max-width: 800px) {
  footer {
    padding: 0;
  }
  .footer_ul {
    padding-right: 0;
  }
}

@media screen and (max-width: 600px) {
  .footer_container_ul {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }
  .ff:first-child {
    margin-top: 20px;
  }
  .footer_ul {
    width: 90%;
    margin: 0;
  }
  .footer_ul_bottom {
    width: 90%;
    margin: 0 0 30px 0;
  }
  footer h3 {
    padding-left: 30px;
  }
  footer ul {
    padding-left: 30px;
  }
}

/* */
/* FOOTER */
/* */